@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("@fontsource/jetbrains-mono/files/jetbrains-mono-latin-400-normal.woff2")
    format("woff2");
}
